# Download and explore Amazon Product Review Dataset

Based on the dataset from http://deepyeti.ucsd.edu/jianmo/amazon/

## citation
Justifying recommendations using distantly-labeled reviews and fined-grained aspects
Jianmo Ni, Jiacheng Li, Julian McAuley
Empirical Methods in Natural Language Processing (EMNLP), 2019

## Imports

In [1]:
import json
import pandas as pd

## Functions

In [2]:
# function to turn a .json file into dataframe line by line
def dataframe_from_json(filename):
    data = []
    with open(filename) as f:
        for line in f:
            data.append(json.loads(line.strip()))
    df = pd.DataFrame.from_dict(data)
    return df

## Reading in Data

paper from the amazon data download site: https://www.aclweb.org/anthology/D19-1018.pdf  They took only clothing as category as far as could be observed.

starting with Fashion category:

In [3]:
begin = pd.Timestamp.now()

#loading all .json pairs separately is recommended due to different file sizes and potentially long waits
in_fashion = dataframe_from_json('AMAZON_FASHION.json')                 #file size roughly 369MB on disk
in_fashion_meta = dataframe_from_json('meta_AMAZON_FASHION.json')       #file size 1,09 GB on disk

end = pd.Timestamp.now()

#printing the seconds from timedelta object between both times to check performance
print('It took {} seconds to execute this cell'.format(round((end-begin).total_seconds()),4))

It took 19 seconds to execute this cell

In [4]:
print(type(in_fashion))

<class 'pandas.core.frame.DataFrame'>

In [5]:
in_fashion.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN
2,4.0,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2.0,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3.0,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [6]:
in_fashion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883636 entries, 0 to 883635
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         883636 non-null  float64
 1   verified        883636 non-null  bool
 2   reviewTime      883636 non-null  object
 3   reviewerID      883636 non-null  object
 4   asin            883636 non-null  object
 5   reviewerName    883544 non-null  object
 6   reviewText      882403 non-null  object
 7   summary         883103 non-null  object
 8   unixReviewTime  883636 non-null  int64
 9   vote            79900 non-null   object
 10  style           304569 non-null  object
 11  image           28807 non-null   object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 75.0+ MB

886k reviews for the roughly 186k products.

---

In [7]:
in_fashion_meta.head()

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin
0,[],,[],,Dante's Peak - Laserdisc,[],[],,,"[<span class=""a-text-bold"">Package Dimensions:...","16,714,561 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",,630456984X
1,[],,[],,Milliongadgets(TM) Earring Safety Backs For Fi...,[],[https://images-na.ssl-images-amazon.com/image...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,,7106116521
2,[],,[Educating the next generation in the responsi...,,Envirosax Kids Series Jessie &amp; Lulu,[],[],,Envirosax,"[<span class=""a-text-bold"">Product Dimensions:...","25,698,912 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",,8037200124
3,[],,[Envirosax Greengrocer - a range of plain colo...,,Envirosax Greengrocer Series Bag 7 Guava,[],[],,Envirosax,"[<span class=""a-text-bold"">Product Dimensions:...","25,850,143 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",,8037200221
4,[],,[],,Blessed by Pope Benedetto XVI Our Lady of Guad...,[],[],,Gifts by Lulee,"[<span class=""a-text-bold"">Package Dimensions:...","19,411,377 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",,8279996567

In [34]:
fashion_filtered.count()

asin              610694
overall           610694
verified          610694
reviewTime        610694
reviewerID        610694
reviewerName      610625
reviewText        609810
summary           610317
unixReviewTime    610694
vote               58782
style             283475
image_x            20251
category          610694
tech1             610694
description       610694
fit               610694
title             610694
also_buy          610694
image_y           610694
tech2             610694
brand             610694
feature           610694
rank              610694
also_view         610694
details           610694
main_cat          610694
similar_item      610694
date              610694
price             610694
dtype: int64

In [8]:
in_fashion_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186627 entries, 0 to 186626
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      186627 non-null  object
 1   tech1         186627 non-null  object
 2   description   186627 non-null  object
 3   fit           186627 non-null  object
 4   title         186627 non-null  object
 5   also_buy      186627 non-null  object
 6   image         186627 non-null  object
 7   tech2         186627 non-null  object
 8   brand         186627 non-null  object
 9   feature       186627 non-null  object
 10  rank          186627 non-null  object
 11  also_view     186627 non-null  object
 12  details       186627 non-null  object
 13  main_cat      186627 non-null  object
 14  similar_item  186627 non-null  object
 15  date          186627 non-null  object
 16  price         186627 non-null  object
 17  asin          186627 non-null  object
dtypes: object(18)
memory usage: 25.6+ MB

### join both DataFrames on ASIN:

In [9]:
fashion_complete = pd.merge(in_fashion.set_index('asin'), in_fashion_meta.set_index('asin'), left_index=True, right_index=True)

In [10]:
fashion_complete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 884788 entries, 630456984X to B01HJHTH5U
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         884788 non-null  float64
 1   verified        884788 non-null  bool
 2   reviewTime      884788 non-null  object
 3   reviewerID      884788 non-null  object
 4   reviewerName    884696 non-null  object
 5   reviewText      883555 non-null  object
 6   summary         884255 non-null  object
 7   unixReviewTime  884788 non-null  int64
 8   vote            80173 non-null   object
 9   style           304976 non-null  object
 10  image_x         28813 non-null   object
 11  category        884788 non-null  object
 12  tech1           884788 non-null  object
 13  description     884788 non-null  object
 14  fit             884788 non-null  object
 15  title           884788 non-null  object
 16  also_buy        884788 non-null  object
 17  image_y         884788 non-null  object
 18  tech2           884788 non-null  object
 19  brand           884788 non-null  object
 20  feature         884788 non-null  object
 21  rank            884788 non-null  object
 22  also_view       884788 non-null  object
 23  details         884788 non-null  object
 24  main_cat        884788 non-null  object
 25  similar_item    884788 non-null  object
 26  date            884788 non-null  object
 27  price           884788 non-null  object
dtypes: bool(1), float64(1), int64(1), object(25)
memory usage: 189.9+ MB

In [11]:
fashion_values = fashion_complete.index.value_counts()

In [12]:
#move asin out of index to a column again
fashion_complete.reset_index(level=0, inplace = True)

In [13]:
#keeping only products with more than 5 reviews (which appear 5 times therefore)
fashion_filtered = fashion_complete[fashion_complete.asin.isin(fashion_values.index[fashion_values.gt(5)])]

In [14]:
fashion_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 610694 entries, 1 to 884787
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   asin            610694 non-null  object
 1   overall         610694 non-null  float64
 2   verified        610694 non-null  bool
 3   reviewTime      610694 non-null  object
 4   reviewerID      610694 non-null  object
 5   reviewerName    610625 non-null  object
 6   reviewText      609810 non-null  object
 7   summary         610317 non-null  object
 8   unixReviewTime  610694 non-null  int64
 9   vote            58782 non-null   object
 10  style           283475 non-null  object
 11  image_x         20251 non-null   object
 12  category        610694 non-null  object
 13  tech1           610694 non-null  object
 14  description     610694 non-null  object
 15  fit             610694 non-null  object
 16  title           610694 non-null  object
 17  also_buy        610694 non-null  object
 18  image_y         610694 non-null  object
 19  tech2           610694 non-null  object
 20  brand           610694 non-null  object
 21  feature         610694 non-null  object
 22  rank            610694 non-null  object
 23  also_view       610694 non-null  object
 24  details         610694 non-null  object
 25  main_cat        610694 non-null  object
 26  similar_item    610694 non-null  object
 27  date            610694 non-null  object
 28  price           610694 non-null  object
dtypes: bool(1), float64(1), int64(1), object(26)
memory usage: 135.7+ MB

In [15]:
display(fashion_filtered.head())

,asin,overall,verified,reviewTime,reviewerID,reviewerName,reviewText,summary,unixReviewTime,vote,...,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price
1,7106116521,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,
2,7106116521,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,
3,7106116521,4.0,False,"08 25, 2014",A2MWC41EW7XL15,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,
4,7106116521,2.0,True,"08 24, 2014",A2UH2QQ275NV45,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,
5,7106116521,3.0,False,"07 27, 2014",A89F3LQADZBS5,Alexander D.,Okay,Three Stars,1406419200,NaN,...,,,"[<span class=""a-text-bold"">ASIN:\n ...","2,081,098 in Clothing, Shoes & Jewelry (",[],{},"<img src=""https://images-na.ssl-images-amazon....",,fishhook,

In [16]:
#looking at whether each asin appears at least 5 times. seems we have filtered minimum 6.
fashion_filtered['asin'].value_counts()

B000V0IBDM    4384
B000KPIHQ4    4375
B00I0VHS10    3889
B00RLSCLJM    3638
B000PHANNM    2572
              ...
B0158871RI       6
B01CON1KNQ       6
B017T48HWW       6
B00PC9JLW2       6
B017YR7MNY       6
Name: asin, Length: 24478, dtype: int64

### same for the Videogames category now:

In [17]:
begin = pd.Timestamp.now()

in_video_games = dataframe_from_json('Video_Games.json')            #file size 1,7GB

end = pd.Timestamp.now()

print('It took {} seconds to execute this cell'.format(round((end-begin).total_seconds()),4))

It took 31 seconds to execute this cell

In [18]:
begin = pd.Timestamp.now()

in_video_games_meta = dataframe_from_json('meta_Video_Games.json')  #file size 225MB

end = pd.Timestamp.now()

print('It took {} seconds to execute this cell'.format(round((end-begin).total_seconds()),4))

It took 3 seconds to execute this cell

In [19]:
in_video_games_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84819 entries, 0 to 84818
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      84819 non-null  object
 1   tech1         84819 non-null  object
 2   description   84819 non-null  object
 3   fit           84819 non-null  object
 4   title         84819 non-null  object
 5   also_buy      84819 non-null  object
 6   image         84819 non-null  object
 7   tech2         84819 non-null  object
 8   brand         84819 non-null  object
 9   feature       84819 non-null  object
 10  rank          84819 non-null  object
 11  also_view     84819 non-null  object
 12  main_cat      84819 non-null  object
 13  similar_item  84819 non-null  object
 14  date          84819 non-null  object
 15  price         84819 non-null  object
 16  asin          84819 non-null  object
 17  details       84712 non-null  object
dtypes: object(18)
memory usage: 11.6+ MB

In [20]:
in_video_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565349 entries, 0 to 2565348
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         float64
 1   verified        bool
 2   reviewTime      object
 3   reviewerID      object
 4   asin            object
 5   reviewerName    object
 6   reviewText      object
 7   summary         object
 8   unixReviewTime  int64
 9   vote            object
 10  style           object
 11  image           object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 217.7+ MB

In [21]:
display(in_video_games.head())

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"06 9, 2014",A21ROB4YDOZA5P,0439381673,Mary M. Clark,I used to play this game years ago and loved i...,Did not like this,1402272000,NaN,NaN,NaN
1,3.0,True,"05 10, 2014",A3TNZ2Q5E7HTHD,0439381673,Sarabatya,The game itself worked great but the story lin...,Almost Perfect,1399680000,NaN,NaN,NaN
2,4.0,True,"02 7, 2014",A1OKRM3QFEATQO,0439381673,Amazon Customer,I had to learn the hard way after ordering thi...,DOES NOT WORK WITH MAC OS unless it is 10.3 or...,1391731200,15,NaN,NaN
3,1.0,True,"02 7, 2014",A2XO1JFCNEYV3T,0439381673,ColoradoPartyof5,The product description should state this clea...,does not work on Mac OSX,1391731200,11,NaN,NaN
4,4.0,True,"01 16, 2014",A19WLPIRHD15TH,0439381673,Karen Robinson,I would recommend this learning game for anyon...,Roughing it,1389830400,NaN,NaN,NaN

In [22]:
video_games_complete = pd.merge(in_video_games.set_index('asin'), in_video_games_meta.set_index('asin'), left_index=True, right_index=True)

In [23]:
display(video_games_complete.head())

,overall,verified,reviewTime,reviewerID,reviewerName,reviewText,summary,unixReviewTime,vote,style,...,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,details
asin,,,,,,,,,,,,,,,,,,,,,
0042000742,5.0,True,"03 11, 2015",A285UYK35TF093,Stefano,Simply extraordinary! A jump into my past and ...,Top of the top Reversi Machine,1426032000,NaN,NaN,...,,Fidelity Electronics,[],"[>#2,623,937 in Toys &amp; Games (See Top 100 ...",[],Toys &amp; Games,,,,NaN
0078764343,5.0,False,"09 4, 2014",A38A8ACEHLMQ9X,juan arango,Good product.\nZero Problem.,Five Stars,1409788800,NaN,NaN,...,,by\n \n EA Games,[],"[>#67,231 in Video Games (See Top 100 in Video...","[B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...",Video Games,,,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",NaN
0078764343,5.0,True,"08 24, 2013",A24SSUT5CSW8BH,Kindle Customer,I want to start off by saying I have never pla...,Love the game,1377302400,NaN,NaN,...,,by\n \n EA Games,[],"[>#67,231 in Video Games (See Top 100 in Video...","[B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...",Video Games,,,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",NaN
0078764343,5.0,True,"07 7, 2013",AB9S9279OZ3QO,Alan,I haven't gotten around to playing the campaig...,Good game and Beta access!!,1373155200,2,NaN,...,,by\n \n EA Games,[],"[>#67,231 in Video Games (See Top 100 in Video...","[B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...",Video Games,,,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",NaN
0078764343,4.0,False,"07 4, 2013",AK3V0HEBJMQ7J,Royalty,this will be my second medal of honor I love h...,MOH nice,1372896000,NaN,NaN,...,,by\n \n EA Games,[],"[>#67,231 in Video Games (See Top 100 in Video...","[B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...",Video Games,,,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",NaN

In [25]:
video_games_complete.isna().sum()

overall                 0
verified                0
reviewTime              0
reviewerID              0
reviewerName          266
reviewText           1811
summary               874
unixReviewTime          0
vote              2318551
style             1437853
image_x           2814930
category                0
tech1                   0
description             0
fit                     0
title                   0
also_buy                0
image_y                 0
tech2                   0
brand                   0
feature                 0
rank                    0
also_view               0
main_cat                0
similar_item            0
date                    0
price                   0
details              1200
dtype: int64

potentially could remove empty (NaN) reviewText, image, vote and style (what is the style column again?).